.gallery .media {
    margin-bottom: 20px;
}
.gallery .media-object {
    max-width: 300px;
}

h2 {
    margin-bottom: 30px;
}

.jumbotron {
    padding-top: 22px;
    padding-bottom: 12px;
}

.main-container {
    margin-bottom: 30px;
}